# WallTrack API Keys
# Get free API keys from each explorer:
# https://etherscan.io/myapikey
# https://bscscan.com/myapikey
# https://polygonscan.com/myapikey
# https://arbiscan.io/myapikey

ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
POLYGONSCAN_API_KEY=
ARBISCAN_API_KEY=

# Telegram Bot Token (from @BotFather)
TELEGRAM_BOT_TOKEN=

# API Server
HOST=0.0.0.0
PORT=8000
